body {
  overflow:hidden;
}

#text, #links {
  float:left;
  box-sizing: border-box;
  padding: 3%;
}

#text {
  width: 70%;
  height: 100vh;
  overflow:scroll;
}

#links {
  width: 30%;
  height: 100vh;
  overflow:scroll;
  float:right;
}

#links a {
  display:block;
}
